/* base を使用すると、マークダウンで書かれている投稿の要素までリセットされるため、一旦コメントアウト */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Helvetica", sans-serif;
  }

  h1,
  h2,
  p {
    @apply text-gray-800;
  }

  ul {
    @apply list-none;
  }

  ul,
  a {
    @apply no-underline;
  }

  /* tableのスタイルは上記@tailwind base; を使用 */
  table {
    table-layout: fixed;
    border: 1px solid #9ca3af;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 4px;
  }

  th,
  td {
    padding: 0.6rem;
    border-bottom: 1px solid #9ca3af;
  }

  table tbody tr:last-child th,
  table tbody tr:last-child td {
    border-bottom: none;
  }

  .dark {
    @apply bg-gray-900;
  }

  .dark > body > div > div > div > div > div > h3,
  .dark > body > div > div > div > div > div > p,
  .dark > body > div > div > div > div > div > div > p,
  .dark > body > div > div > div > div > div > div > h2,
  .dark > body > div > div > div > div > div > div > h3,
  .dark > body > div > div > div > div > div > table {
    @apply text-gray-200;
  }
}
