/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Helvetica", sans-serif;
  }

  h1,
  h2,
  p {
    @apply text-gray-800;
  }

  ul {
    @apply list-none;
  }

  ul,
  a {
    @apply no-underline;
  }

  table {
    table-layout: fixed;
    border: 1px solid #9ca3af;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 4px;
  }

  th,
  td {
    padding: 0.6rem;
    border-bottom: 1px solid #9ca3af;
  }

  table tbody tr:last-child th,
  table tbody tr:last-child td {
    border-bottom: none;
  }
}
